syntax: glob
packages/
*.ai
*/App_Data/Models/
*.suo
*.obj
*.pdb
*.user
*.vspscc
*.bak
*.cache
*.log
*.lib
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
[Bb]uild[Pp]rocess[Tt]emplates/*
Published/*
[Tt]humbs.db
[Uu]pgrade[Ll]og*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
[Pp]ackages/*
aspnetdb_log.ldf
*[Vv]isual[Ss]tate.[Xx][Mm][Ll]
_[Rr]e[Ss]harper*
*.orig
*/App_Data/NuGetBackup/
*/[Uu]mbraco_[Cc]lient/
*/[Uu]mbraco/
*/App_Data/TEMP/
*/App_Data/Logs/
*/App_Data/Umbraco.sdf
*/App_Data/
*/.nuxt/
*/umbraco/
*/umbraco_client/
*/node_modules/
*/.vs/
*/iisnode/
*/dist/
Site/Built/
.vs/config/applicationhost.config
.vs/
*/Media/created-packages/
